<table class="table table-condensed">
  <thead>
    <th>Type</th>
    <th>Hash</th>
    <th>Cleartext</th>
    <th>Cleartext Source</th>
  </thead>
  <tbody>
  <% @pwhashes.each do |pwhash| %>
    <tr>
      <td><%= pwhash.type.name %></td>
      <td><%= pwhash.password_hash %></td>
      <td><%= pwhash.password.cleartext %></td>
      <td><%= pwhash.password.source %> </td>
    </tr>
  <% end %>
  </tbody>
</table>