<h1>Stats:</h1>

<div class="well">
  <p>
    Total number of hashes: <br>
    Total number of cracked hashes: <br>
    Total number of cleartext passwords: <br>
    Percentage of uncracked passwords: <br>
  </p>
</div>